services:
  - type: web
    name: student-management-system
    env: docker
    plan: free
    branch: main
    repo: https://github.com/Thanuvin/Student-Management-System
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
    port: 8081
